@import '../../../../assets/styles/color';
@import '../../../../assets/styles/constants';
@mixin barcode($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  button.button-print {
    i {
      color: mat-color($primary);
    }
  }

  button.button-print.green {
    i {
      color: $green-800;
    }
  }

  button.button-print.red {
    i {
      color: $red-800;
    }
  }

  .action-top {
    background: $grey-50;

    button {
      background-color: mat-color($primary-light);
      color: $white;

      .md-button-focus-overlay {
        background-color: transparent;
      }
    }

    button:hover {
      background-color: mat-color($primary);
      color: $white;
      transition: all 0.4s ease-in-out;
      -moz-transition: all 0.4s ease-in-out;
      -webkit-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
    }
  }

  .action-right {
    button {
      background: mat-color($primary-light);
      color: $white;

      .md-button-focus-overlay {
        background-color: transparent;
      }
    }

    button:hover {
      background: mat-color($primary);
      transition: all 0.4s ease-in-out;
      -moz-transition: all 0.4s ease-in-out;
      -webkit-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
    }
  }

  .a {
    background: $red-400;
    color: $white;

    i {
      color: $white;
    }
  }
}
