@import '../../../../assets/styles/variables';
@import '../../../../assets/styles/constants';
@import '../../../../assets/styles/crud/view';
@import '../../../../assets/styles/crud/create';
@import '../../../../assets/styles/crud/detail';
@import '../../../../assets/styles/crud/md-dialog';
@import '../../../../assets/styles/crud/input';

.myaccount {
  img {
    width: 100%;
    border-radius: 100%;
  }

  .title {
    margin-bottom: 20px;
  }

  md-card {
    padding: 30px;
  }
}

md-card {
  padding: 0;
  margin: 0;

  .md-card-content {
    padding: 30px 20px 20px;
  }
}

.action-top {
  padding: 20px;

  button {
    float: right;
    margin-top: -4px;
    @media screen and (max-width: $phone) {
      width: 100%;
    }
  }
}

.action-right {
  float: right;
  @media screen and (max-width: $small-phone) {
    float: none;
  }

  button {
    @media screen and (max-width: $phone) {
      width: 100%;
    }
  }
}

.table-responsive {
  border: 0;
}

.multiple-table {
  font-size: 14px;
  margin-bottom: 20px;
}
