.information {
  font-size: 12px;
}

.information-error {
  font-size: 12px;
  padding: 8px 0px 8px 0px;
  border-radius: 5px;
}

.information-warning {
  font-size: 12px;
  padding: 8px 0px 8px 0px;
  border-radius: 5px;
}

.information-success {
  font-size: 12px;
  padding: 8px 0px 8px 0px;
  border-radius: 5px;
}

.information-info {
  font-size: 12px;
  padding: 8px 0px 8px 0px;
  border-radius: 5px;
}

.information-info.right {
  font-size: 12px;
  margin-top: 20px;
  padding-top:20px;
  position: absolute;
  border-radius: 5px;
}
