@import '~@angular/material/theming';
@import './assets/styles/alert/alert-theme';
@import './assets/styles/blockquote/blockquote-theme';
@import './app/session/pages/login/login.component-theme';
@import './app/session/pages/404/notfound.component-theme';
@import './app/backend/backend.component-theme';
@import './app/shared/backend/navbar/navbar.component-theme';
@import './app/shared/backend/sidenav/sidenav.component-theme';
@import './app/shared/backend/footer/footer.component-theme';
@import './app/shared/backend/page-header/page-header.component-theme';
@import './app/backend/pages/home/home.component-theme';
@import './app/backend/pages/myaccount/myaccount.component-theme';
@import './app/backend/pages/website/website.component-theme';
@import './app/backend/pages/menu/menubackend/menubackend.component-theme';
@import './app/backend/pages/menu/submenubackend/submenubackend.component-theme';
@import './app/backend/pages/barcode/barcode.component-theme';
@import './app/backend/pages/result/result.component-theme';
@import './assets/styles/crud/view-theme';
@import './assets/styles/crud/create-theme';
@import './assets/styles/crud/detail-theme';
@import './assets/styles/crud/md-dialog-theme';
@import './assets/styles/crud/input-theme';
@mixin app($theme) {
  $primary: map-get($theme, primary);
  $primary-light: map-get($theme, primary-light);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  @include login($theme);
  @include notfound($theme);
  @include backend($theme);
  @include navbar($theme);
  @include sidenav($theme);
  @include footer($theme);
  @include page-header($theme);
  @include home($theme);
  @include myaccount($theme);
  @include website($theme);
  @include menubackend($theme);
  @include submenubackend($theme);
  @include barcode($theme);
  @include result($theme);
  @include alert($theme);
  @include blockquote($theme);
  @include view($theme);
  @include create($theme);
  @include detail($theme);
  @include md-dialog($theme);
  @include input($theme);
}
